<template>
    <div id="app">
        <ReviewForm />
    </div>
</template>

<script>
    import ReviewForm from "./components/ReviewForm.vue"

    export default {
        name: "App",
        components: {
            ReviewForm
        }
    }
</script>

<style lang="scss">
    #app {
        @import "assets/styles/application";
    }
</style>
