& {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none;
}

.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.btn-default {
  cursor: pointer;
  background: $button;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  &:active {
    background: lighten($button, 10%);
  }
  &:disabled {
    background: $light-text;
  }
}
