<template>
    <div class="container">
        <h1 class="title header">
            Review Form
        </h1>

        <div class="spacer" />

        <h2 class="title">
            1.
        </h2>
        <h3 class="label">
            Score
            <span class="label-detail">
                (required)
            </span>
        </h3>

        <div class="score-container">
            <div class="score">
                <template v-for="i in 5">
                    <div :key="i"
                         class="circle"
                         :class="{selected: score===i}"
                         @click="setScore(i)">
                        {{ i }}
                    </div>
                </template>
            </div>

            <div class="score-label">
                <div>Terrible</div>
                <div>Excellent</div>
            </div>
        </div>

        <div class="spacer" />

        <h2 class="title">
            2.
        </h2>

        <h3 class="label">
            Comment
        </h3>
        <textarea v-model="comment"
                  class="comment"
                  placeholder="Tell us more!"
                  rows="10" />

        <button :disabled="!isValid"
                class="btn-default submit"
                @click="submit">
            Submit
        </button>

        <div class="toast"
             :class="{
                 show: toast.show,
                 error: toast.error
             }">
            {{ toast.message }}
        </div>
    </div>
</template>

<script>
    export default {
        name: "ReviewForm",
        data: () => ({
            score: 0,
            comment: '',
            toast: { message: '', error: false, show: false, timeout: null}
        }),
        computed: {
            isValid() {
                return this.score > 0
            }
        },
        methods: {
            setScore(i) {
                this.score = i
            },
            showToast(message, success = true) {
                this.toast.message = message
                this.toast.error = !success
                this.toast.show = true

                this.toast.timeout = setTimeout(() => {
                    this.toast.show = false
                }, 3000)
            },
            submit() {
                clearTimeout(this.toast.timeout)
                this.toast.show = false
                // uuid of the hotel, only for this exercise to work
                const uuid = '50c64598-be1e-4ed7-b047-73c0a76a3bce'
                const {score, comment} = this

                this.$http.post('/reviews', {uuid, score, comment}, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(r => {
                    this.showToast(r.data.message)
                    this.score = 0
                    this.comment = ''
                }).catch(() => {
                    this.showToast('Error sending information. Please try again.', false)
                })
            }
        }
    }
</script>

<style scoped lang="scss">
    h2, h3 {
        margin: 0;
    }
    h3 {
        margin-bottom: 1rem;
    }
    .spacer {
        margin-bottom: 2rem;
    }
    .title {
        color: $primary;
    }
    .label {
        color: $label;

        .label-detail {
            color: $light-text;
            font-weight: normal;
        }
    }
    .comment {
        width: calc(100% - 20px);
        border-color: $light-text;
        border-radius: 10px;
        padding: 10px;
        resize: vertical;
    }
    .circle {
        $circle-size: 55px;

        cursor: pointer;
        font-weight: bold;
        color: #bbb;
        background: #eee;
        width: $circle-size;
        height: $circle-size;
        line-height: $circle-size;
        display: inline-block;
        border-radius: 50%;
        border: 1px solid $light-text;
        box-shadow: inset 0 1.5px 5px #bbb;
        text-align: center;

        &.selected {
            color: $primary;
            border-color: $primary;
            box-shadow: inset 0 1.5px 5px $primary;
            background: lighten($primary, 35%);

            &:first-child {
                color: $error;
                border-color: $error;
                box-shadow: inset 0 1.5px 5px $error;
                background: lighten($error, 35%);
            }

            &:nth-child(2) {
                color: $warning;
                border-color: $warning;
                box-shadow: inset 0 1.5px 5px $warning;
                background: lighten($warning, 35%);
            }

            &:nth-child(3) {
                color: $caution;
                border-color: $caution;
                box-shadow: inset 0 1.5px 5px $caution;
                background: lighten($caution, 35%);
            }
        }
    }

    .score-container {
        width: 310px;

        .score, .score-label {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .score-label {
            font-size: 0.8rem;
            margin: 10px 0;

            div {
                border-radius: 6px;
                background: gray;
                padding: 0 3px;
                font-weight: bold;

                &:first-child {
                    color: $error;
                    background: lighten($error, 20%);
                }

                &:last-child {
                    color: $primary;
                    background: lighten($primary, 25%);
                }
            }
        }
    }

    .submit {
        float: right;
        margin-top: 1rem;
    }

    .toast {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        text-align: center;
        border-radius: 6px;
        padding: 5px 10px;
        opacity: 0;
        transition-property: opacity, bottom;
        transition-duration: 0.5s, 0.5s;
        color: white;
        font-weight: bold;
        font-size: large;
        background: $primary;

        &.error {
            background: $error;
        }

        &.show {
            bottom: 30px;
            opacity: 100%;
        }
    }
</style>
